* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: #646464;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

header, nav, section, article, h1, p, aside, footer {
    background-color: whitesmoke;
    text-align: center;
    margin: 5px;
    padding: 3px;
}