#section {
    float: left;
    width: 48%;
    margin: 5px;
}

/* section {
    margin: 25px;
} */

#aside {
    float: right;
    width: 48%;
    padding: 55px;
    overflow: hidden;
}

#article {
    background-color: darkslategray;
    color: beige;
}

h1 {
    color: darkslategray;
    font-weight: bold;
}

p {
    color: #646464;
}

