#section {
    float: left;
    width: 45%;
    margin: 5px;
}

section {
    margin: 25px;
}

#aside {
    float: right;
    /* margin: auto; */
    width: 45%;
}

#article {
    background-color: darkslategray;
    color: beige;
}

h1 {
    color: darkslategray;
    font-weight: bold;
}

p {
    color: #646464;
}

